DatabaseWidget:!active,
DatabaseWidget #groupView:!active, DatabaseWidget #tagView:!active,
EntryPreviewWidget *:!active[blendIn="true"] {
    background-color: #404042;
}

DatabaseWidget:disabled,
DatabaseWidget #groupView:disabled, DatabaseWidget #tagView:disabled,
EntryPreviewWidget *:disabled[blendIn="true"] {
    background-color: #424242;
}

QMenu {
    border: 1px solid #56565A;
}

QMenu::separator {
    height: 1px;
    background-color: #56565A;
}

QPushButton:!default:hover {
    /* Using slightly darker shade from palette(button) */
    background: #252528;
}

QPushButton:default:hover, QPushButton:checked:hover {
    /* Using slightly lighter shade from palette(highlight) */
    background: #2E582E;
}

QToolTip {
    color: #BFBFBF;
    background-color: #2D532D;
}

QGroupBox {
    background-color: palette(light);
}
