<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>keepassxc-autofill-xpc</string>
    <key>CFBundleIdentifier</key>
    <string>org.keepassxc.KeePassXC.AutoFill-XPC-Service</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>keepassxc-autofill-xpc</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>@KEEPASSXC_VERSION@</string>
    <key>CFBundleVersion</key>
    <string>@KEEPASSXC_VERSION@</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>XPCService</key>
    <dict>
        <key>ServiceType</key>
        <string>Application</string>
        <key>JoinExistingSession</key>
        <true/>
    </dict>
</dict>
</plist>
