DatabaseWidget:!active, GroupView:!active,
EntryPreviewWidget QLineEdit:!active, EntryPreviewWidget QTextEdit:!active {
    background-color: #FCFCFC;
}

DatabaseWidget:disabled, GroupView:disabled,
EntryPreviewWidget QLineEdit:disabled, EntryPreviewWidget QTextEdit:disabled {
    background-color: #EDEDED;
}

QGroupBox::title {
    color: palette(highlight);
}

QToolTip {
    color: #F7F7F7;
    background-color: #548C1D;
}
